<div class="container my-3">
  <div class="d-flex">
    <a routerLink="/offers" class="navbar-toggler p-0 mr-3">
      <span class="back-icon"></span>
    </a>
    <div>
      <h3 class="mb-0">Dodaj prevoz</h3>
    </div>
  </div>
</div>
<ng-container *ngIf="vehicles">
  <div class="container my-3">
    <form (ngSubmit)="createOffer()" role="form">
      <ng-container *ngIf="vehicles.length > 0">
        <div class="form-group">
          <label for="vehicle">Vozilo</label>
          <ul class="list-group" id="vehicles">
            <li
              class="list-group-item"
              [ngClass]="{ active: offer.vehicle === vehicle.id }"
              (click)="selectVehicle(vehicle)"
              *ngFor="let vehicle of vehicles"
            >
              <div class="row justify-content-between">
                <div class="col text-left">
                  {{ vehicle.model }}
                </div>
                <div class="col-auto text-right">
                  <span class="badge badge-light registration-plate">{{ vehicle.licencePlate }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <section class="pb-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="point-red"></div>
            </div>
            <div class="col pl-0">
              <label for="start_0">Od kod greš?</label>
              <input
                type="text"
                class="form-control"
                id="start_0"
                [(ngModel)]="offer.stops[0].start"
                name="start_0"
                data-type="start"
                data-index="0"
                (focusout)="getSearch($event)"
              />
              <small *ngIf="startSearch[0].loading">Iskanje lokacije ...</small>
              <small *ngIf="startSearch[0].message" class="text-danger">{{ startSearch[0].message }}</small>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12">
              <div class="route">
                <div class="pb-2">
                  <div class="form-group">
                    <label for="day_0">Kdaj odrineš od tam?</label>
                    <div class="row">
                      <div class="col-auto">
                        <input
                          type="number"
                          class="form-control date-input mb-2 mr-2"
                          id="day_0"
                          [(ngModel)]="offer.stops[0].day"
                          name="day_0"
                          min="1"
                          max="31"
                          placeholder="{{ date | date: 'd' }}"
                        />
                        <input
                          type="number"
                          class="form-control date-input mb-2 mr-2"
                          id="month_0"
                          [(ngModel)]="offer.stops[0].month"
                          name="month_0"
                          min="1"
                          max="12"
                          placeholder="{{ date | date: 'M' }}"
                        />
                        <input
                          type="number"
                          class="form-control date-input-xl mb-2"
                          id="year_0"
                          [(ngModel)]="offer.stops[0].year"
                          name="year_0"
                          placeholder="{{ date | date: 'yyyy' }}"
                        />
                      </div>
                      <div class="col-auto">
                        <input
                          type="number"
                          class="form-control date-input mb-2 mr-2"
                          id="hours_0"
                          [(ngModel)]="offer.stops[0].hours"
                          name="hours_0"
                          min="0"
                          max="23"
                          placeholder="{{ date | date: 'H' }}"
                        />
                        <input
                          type="number"
                          class="form-control date-input mb-2"
                          id="minutes_0"
                          [(ngModel)]="offer.stops[0].minutes"
                          name="minutes_0"
                          min="0"
                          max="59"
                          placeholder="{{ date | date: 'mm' }}"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="price_0">Kolikšni so skupni stroški prevoza na tem delu poti?</label>
                    <input
                      type="number"
                      step="0.01"
                      class="form-control mb-2"
                      id="price_0"
                      [(ngModel)]="offer.stops[0].price"
                      name="price_0"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse show" id="addStop">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="point-dotted"></div>
              </div>
              <div class="col pl-0">
                <button
                  type="button"
                  class="btn btn-link p-0 collapse show"
                  (click)="addStop()"
                  onclick="$('#stopContainer').collapse('show'); $('#addStop').collapse('hide');"
                >
                  <i class="fas fa-plus mr-2"></i> Načrtuješ postanek?
                </button>
              </div>
            </div>
            <div class="route">
              <div class="pb-2">
                <small class="text-muted"
                  >Postanek naj ne bo daljši od nekaj minut. Če nameravaš narediti daljši postanek, raje dodaj dva ločena prevoza.</small
                >
              </div>
            </div>
          </div>
          <div class="collapse" id="stopContainer">
            <ng-container *ngIf="offer.stops[1]">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="point"></div>
                </div>
                <div class="col pl-0">
                  <label for="start_1">Kje načrtuješ postanek?</label>
                  <input
                    type="text"
                    class="form-control"
                    id="start_1"
                    [(ngModel)]="offer.stops[1].start"
                    name="start_1"
                    data-type="start"
                    data-index="1"
                    (focusout)="getSearch($event)"
                  />
                  <small *ngIf="startSearch[1].loading">Iskanje lokacije ...</small>
                  <small *ngIf="startSearch[1].message" class="text-danger">{{ startSearch[1].message }}</small>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="route">
                    <div class="pb-2">
                      <div class="form-group">
                        <label for="day_1">Kdaj odrineš od tam?</label>
                        <div class="row">
                          <div class="col-auto">
                            <input
                              type="number"
                              class="form-control date-input mb-2 mr-2"
                              id="day_1"
                              [(ngModel)]="offer.stops[1].day"
                              name="day_1"
                              min="1"
                              max="31"
                              placeholder="{{ date | date: 'd' }}"
                            />
                            <input
                              type="number"
                              class="form-control date-input mb-2 mr-2"
                              id="month_1"
                              [(ngModel)]="offer.stops[1].month"
                              name="month_1"
                              min="1"
                              max="12"
                              placeholder="{{ date | date: 'M' }}"
                            />
                            <input
                              type="number"
                              class="form-control date-input-xl mb-2"
                              id="year_1"
                              [(ngModel)]="offer.stops[1].year"
                              name="year_1"
                              placeholder="{{ date | date: 'yyyy' }}"
                            />
                          </div>
                          <div class="col-auto">
                            <input
                              type="number"
                              class="form-control date-input mb-2 mr-2"
                              id="hours_1"
                              [(ngModel)]="offer.stops[1].hours"
                              name="hours_1"
                              min="0"
                              max="23"
                              placeholder="{{ date | date: 'H' }}"
                            />
                            <input
                              type="number"
                              class="form-control date-input mb-2"
                              id="minutes_1"
                              [(ngModel)]="offer.stops[1].minutes"
                              name="minutes_1"
                              min="0"
                              max="59"
                              placeholder="{{ date | date: 'mm' }}"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="price_1">Kolikšni so skupni stroški prevoza na tem delu poti?</label>
                        <input
                          type="number"
                          step="0.01"
                          class="form-control mb-2"
                          id="price_1"
                          [(ngModel)]="offer.stops[1].price"
                          name="price_1"
                        />
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-link p-0 collapse show"
                      (click)="removeStop()"
                      onclick="$('#stopContainer').collapse('hide'); $('#addStop').collapse('show');"
                    >
                      <i class="fas fa-minus mr-2"></i> Ne načrtuješ postanka?
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="point-green"></div>
            </div>
            <div class="col pl-0">
              <label for="end">Kam greš?</label>
              <input
                type="text"
                class="form-control"
                id="end"
                [(ngModel)]="offer.end"
                name="end"
                data-type="end"
                (focusout)="getSearch($event)"
              />
              <small *ngIf="endSearch.loading">Iskanje lokacije ...</small>
              <small *ngIf="endSearch.message" class="text-danger">{{ endSearch.message }}</small>
            </div>
          </div>
        </section>
        <div class="form-group">
          <label for="passengers">Za koliko oseb imaš prostora?</label>
          <input type="number" class="form-control" id="passengers" min="0" [(ngModel)]="offer.passengers" name="passengers" />
        </div>
        <div class="form-group">
          <label for="baggage">Za koliko prtljage imaš prostora?</label>
          <input type="number" class="form-control" id="baggage" min="0" [(ngModel)]="offer.baggage" name="baggage" />
          <small class="form-text text-muted">Za en kos prtljage se upošteva okvirna velikost kovčka v ročni prtljagi na letalu.</small>
        </div>
        <div class="form-group">
          <label for="description">Želiš potnikom sporočiti še kaj?</label>
          <textarea class="form-control" id="description" [(ngModel)]="offer.description" name="description"></textarea>
        </div>
        <p>Prosimo, da pred objavo prevoza preveriš, ali so vsi podatki ustrezni. Urejanje prevoza po objavi ne bo več možno.</p>
        <div class="alert alert-{{ error.type }}" *ngIf="error.type && error.type != 'data' && error.type != 'loading'">
          <p class="m-0">{{ error.message }}</p>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary" [disabled]="error.type === 'loading'">Dodaj</button>
        </div>
      </ng-container>
      <ng-container *ngIf="vehicles.length == 0">
        <div class="text-center text-secondary py-3">
          <h1><i class="fas fa-car"></i></h1>
          <p>Preden lahko ponudiš prevoz, moraš dodati vozilo.</p>
          <a routerLink="/vehicles/new">Dodaj vozilo</a>
        </div>
      </ng-container>
    </form>
  </div>
</ng-container>
<div *ngIf="!vehicles && !error.type">
  <div class="loader"></div>
</div>
<div class="text-center text-secondary py-3" *ngIf="error.type && error.type === 'data'">
  <h1><i class="fas fa-car"></i></h1>
  <p>{{ error.message }}</p>
  <a routerLink="/offers">Nazaj na ponujene prevoze</a>
</div>
