<div class="container my-3">
  <div class="d-flex">
    <a routerLink="/settings" class="navbar-toggler p-0 mr-3">
      <span class="back-icon"></span>
    </a>
    <h3 class="mb-0">Moja vozila</h3>
  </div>
</div>
<div class="container my-3">
  <ng-container *ngIf="vehicles">
    <ul class="list-group mt-2" *ngIf="vehicles.length > 0">
      <a *ngFor="let vehicle of vehicles" routerLink="/vehicles/{{ vehicle.id }}" class="list-group-item">
        <div class="row">
          <div class="col-6 text-left">
            {{ vehicle.model }}
          </div>
          <div class="col-6 text-right">
            <span class="badge badge-light registration-plate">{{ vehicle.licencePlate }}</span>
          </div>
        </div>
      </a>
    </ul>
    <div class="text-center text-secondary" *ngIf="vehicles.length == 0">
      <h1><i class="fas fa-car"></i></h1>
      <p>Nimaš dodanih vozil.</p>
    </div>
  </ng-container>
  <a routerLink="/vehicles/new" class="btn btn-floating btn-primary">
    <span class="plus-icon"></span>
  </a>
</div>
<div *ngIf="!vehicles && !error.type">
  <div class="loader"></div>
</div>
<div class="text-center text-secondary" *ngIf="error.type">
  <h1><i class="fas fa-car"></i></h1>
  <p>{{ error.message }}</p>
</div>
