<div class="container my-3">
  <h3>Nastavitve</h3>
  <div class="row mb-3">
    <div class="col-md-4">
      <h4>Prevozi</h4>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <a routerLink="/vehicles" class="list-group-item"> <i class="fas fa-car-side list-icon"></i>Moja vozila </a>
        <a routerLink="/history/reservations" class="list-group-item"> <i class="fas fa-history list-icon"></i>Zgodovina prevozov </a>
      </ul>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <h4>Uporabniški račun</h4>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <a routerLink="/account" class="list-group-item"><i class="fas fa-user list-icon"></i>Moj uporabniški račun</a>
      </ul>
    </div>
  </div>
</div>
