<ng-container *ngIf="reservation">
  <div class="container my-3">
    <div class="d-flex">
      <a routerLink="/reservations" class="navbar-toggler p-0 mr-3">
        <span class="back-icon"></span>
      </a>
      <div>
        <h3>{{ reservation.routes[0].startSimple }} - {{ reservation.routes[reservation.routes.length - 1].endSimple }}</h3>
        <h6 class="mb-0">{{ reservation.routes[0].departure | date: "d. M. yyyy, H:mm" }}</h6>
      </div>
    </div>
  </div>
</ng-container>
<div id="map" class="map-small" *ngIf="error.type != 'data'"></div>
<ng-container *ngIf="reservation">
  <div class="container my-3">
    <ng-container *ngIf="!reservation.routes[0].offer.active">
      <div class="alert alert-danger">
        <p class="m-0">Prevoz je preklican.</p>
      </div>
      <div class="form-group pb-2">
        <small class="text-secondary">Razlog za preklic prevoza</small>
        <p class="m-0">{{ reservation.routes[0].offer.cancellationReason }}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!reservation.active">
      <div class="alert alert-warning">
        <p class="m-0">Rezervacija je preklicana.</p>
      </div>
      <div class="form-group pb-2">
        <small class="text-secondary">Razlog za preklic rezervacije</small>
        <p class="m-0">{{ reservation.cancellationReason }}</p>
      </div>
    </ng-container>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="mb-1">
          <img
            src="{{ reservation.routes[0].offer.driver.image ? reservation.routes[0].offer.driver.image : '/assets/images/user.png' }}"
            class="user-avatar rounded-circle mr-2"
          />
          {{ reservation.routes[0].offer.driver.firstName }} {{ reservation.routes[0].offer.driver.lastName }}
          <i
            class="far fa-smile profile-icon"
            *ngIf="
              reservation.routes[0].offer.driver.ratings.length > 0 && reservation.routes[0].offer.driver.ratings[0].averageRating >= 2.5
            "
          ></i>
          <i
            class="far fa-meh profile-icon"
            *ngIf="
              reservation.routes[0].offer.driver.ratings.length > 0 &&
              reservation.routes[0].offer.driver.ratings[0].averageRating < 2.5 &&
              reservation.routes[0].offer.driver.ratings[0].averageRating >= 1.5
            "
          ></i>
          <i
            class="far fa-frown profile-icon"
            *ngIf="
              reservation.routes[0].offer.driver.ratings.length > 0 && reservation.routes[0].offer.driver.ratings[0].averageRating < 1.5
            "
          ></i>
          <span class="text-secondary ml-3">{{ reservation.routes[0].offer.driver.phone }}</span>
        </div>
      </div>
      <div class="col-auto">
        <p class="mb-0">
          <strong>{{ reservation.price | currency: "EUR" }}</strong>
        </p>
      </div>
    </div>
    <div class="row py-2 align-items-center justify-content-between">
      <div class="col-auto">
        <p class="mb-0">{{ reservation.routes[0].offer.vehicle.model }}</p>
      </div>
      <div class="col-auto" *ngIf="reservation.routes[0].offer.vehicle.licencePlate">
        <p class="mb-0 badge badge-light registration-plate ml-2">{{ reservation.routes[0].offer.vehicle.licencePlate }}</p>
      </div>
    </div>
    <ng-container *ngIf="reservation.active && driver">
      <div class="row justify-content-center pt-2">
        <div class="col-md-6">
          <div class="form-group text-center">
            <label>Z voznikom/voznico sem bil/a zadovoljen/zadovoljna.</label>
            <div class="rating text-secondary">
              <i class="far fa-frown mr-3" (click)="createRating(reservation.id, 1)"></i>
              <i class="far fa-meh mr-3" (click)="createRating(reservation.id, 2)"></i>
              <i class="far fa-smile" (click)="createRating(reservation.id, 3)"></i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="row my-3 py-3 info-panel">
      <div class="col-6">
        <div class="text-center">
          <p class="mb-1"><i class="fas fa-user"></i></p>
          <small class="text-secondary">Število potnikov</small>
          <p class="mb-0">
            <strong>{{ reservation.passengers }}</strong>
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="text-center">
          <p class="mb-1"><i class="fas fa-suitcase"></i></p>
          <small class="text-secondary">Količina prtljage</small>
          <p class="mb-0">
            <strong>{{ reservation.baggage }}</strong>
          </p>
        </div>
      </div>
    </div>
    <section class="pb-3">
      <ng-container *ngFor="let route of reservation.routes; first as isFirst">
        <div class="row align-items-center">
          <div class="col-auto">
            <div [ngClass]="{ 'point-red': isFirst, point: !isFirst }"></div>
          </div>
          <div class="col pl-0">
            {{ route.start }}
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12">
            <div class="route">
              <div class="row">
                <div class="col-6 pb-1">
                  <small class="text-secondary">Odhod</small>
                  <p class="mb-0">{{ route.departure | date: "d. M. yyyy, H:mm" }}</p>
                </div>
                <div class="col-6 pb-1">
                  <small class="text-secondary">Skupni stroški prevoza</small>
                  <p class="mb-0">{{ route.price | currency: "EUR" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="point-green"></div>
        </div>
        <div class="col pl-0">
          {{ reservation.routes[reservation.routes.length - 1].end }}
        </div>
      </div>
    </section>
    <div class="form-group">
      <p>{{ reservation.routes[0].offer.description }}</p>
    </div>
    <div class="text-right" *ngIf="reservation.active && allowLocationSharing()">
      <button class="btn btn-primary" (click)="shareLocation()" *ngIf="!sharingLocation">Deli lokacijo</button>
      <button class="btn btn-danger" (click)="stopShareLocation()" *ngIf="sharingLocation">Prenehaj deliti lokacijo</button>
    </div>
    <div class="text-right" *ngIf="reservation.active && reservation.routes[0].offer.active && allowReservationCancellation()">
      <button class="btn btn-danger" data-toggle="modal" data-target="#cancelReservation">Prekliči rezervacijo</button>
    </div>
  </div>
  <div class="modal fade modal-bottom" id="cancelReservation" tabindex="-1" role="dialog">
    <div class="modal-dialog w-100" role="document">
      <div class="modal-content">
        <div class="container py-3">
          <div class="form-group w-100">
            <label for="cancellationReason">Zakaj želiš preklicati rezervacijo?</label>
            <textarea
              class="form-control"
              id="cancellationReason"
              [(ngModel)]="reservation.cancellationReason"
              name="cancellationReason"
            ></textarea>
          </div>
          <div class="alert alert-{{ error.type }}" *ngIf="error.type && error.type != 'data' && error.type != 'loading'">
            <p class="m-0">{{ error.message }}</p>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-link" id="dismissCancellation" data-dismiss="modal">Nazaj</button>
            <button type="button" class="btn btn-danger" (click)="cancelReservation()" [disabled]="error.type === 'loading'">
              Prekliči rezervacijo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div *ngIf="!reservation && !error.type">
  <div class="loader"></div>
</div>
<div class="text-center text-secondary py-3" *ngIf="error.type && error.type === 'data'">
  <h1><i class="fas fa-car"></i></h1>
  <p>{{ error.message }}</p>
  <a routerLink="/reservations">Nazaj na rezervacije</a>
</div>
